<h1> <%= @article.title %> </h1>
<p> <%= image_tag @article.image.url %></p>
<p class="flow-text"> <%= @article.body %> </p>
<p>
  <% @article.tags.each do |tag| %>
    <%= link_to tag.name, tag_path(tag), class: "chip" %>
  <% end %>
</p>
<%= link_to "<< Article List", articles_path, class: 'btn' %>
<% if logged_in? %>
  <%= link_to "Edit Post", edit_article_path(@article), class: 'btn orange' %>
  <%= link_to "Delete", article_path(@article), class: 'btn red', method: :delete, data: {confirm: "Do you really want to delete?"} %>
<% end %>
<%= render partial: 'comments/form' %>

<br>

<h3> Comments (<%= @article.comments.count %>)</h3>

<%= render partial: 'articles/comment', collection: @article.comments %>
